<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sfr</title>
    <style type="text/css">
        .main-container {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-flow: row wrap;
        }
        .feed-container {
            width: 100ch;
            margin: 0 1%;
            padding: 0.5em;
            line-height: 1.7;
        }
        .feed-container a {
            text-decoration: none;
        }
        .feed-container > h2 {
            color: green;
        }
        .feed-entry {
            margin: 2em auto;
        }
        .feed-entry > .entry-title {
            font-weight: bold;
            line-height: 1.5;
            font-family: "serif";
            font-size: 1.2em;
            letter-spacing: -0.04em;
            color: #333;
        }
        .entry-title > a {
            color: #333;
            text-decoration: none;
        }

        .entry-meta, .feed-meta {
            font-size: smaller;
            color: #aaa;
        }

        .entries-list {
            line-height: 1.5;
        }
    </style>
</head>
<body>
<h1>{{ feeds_category }}</h1>
{% for cat in categories -%}<a href="{{ cat }}.html">{{ cat }}</a>{% if not loop.last %} | {% endif %}{% endfor %}<br>
Last build: {{ timestamp }} UTC+2<br>
{#
Feeds on this page:
<ul>
    {% for feed in feeds|sort(attribute="title") -%}
    <li>{{ feed.title }}</li>
    {%- endfor %}
</ul> #}

{% block body %}{% endblock %}

</body>
</html>
