{% extends 'base.html' %}

{% block body %}
<div class="main-container">
    {% for feed in feeds|sort(attribute="title") %}
    <div class="feed-container">
        <h2>{{ feed.title }}</h2>

        {% for entry in feed.entries %}
        {% if entry.published_parsed %}
        {% set pubdate = "{:>4}-{:0>2}-{:0>2}".format(entry.published_parsed.tm_year, entry.published_parsed.tm_mon,
        entry.published_parsed.tm_mday) %}
        {% endif %}
        <span class="entry-meta">{{ pubdate }}</span> <a href="{{ entry.link }}" target="_blank">{{ entry.title if
        entry.title|length > 0 else "no title" }}</a> <br>
        {% endfor %}

        <div class="feed-meta">
            <br>{{ feed.url }} | updated: {{ feed.updated }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
