<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sfr</title>
</head>
<body>
<ul>
    {% for cat in categories %}
    <li>
        <a href="{{ cat }}.html">{{ cat }}</a>
        <ul>
            {% for title in cat2title[cat] %}
            <li>{{ title }}</li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
</body>
</html>
